<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>여기에서 todo작성해주세요</h1>
    <!-- 이미지같은경우 인코딩타입을 따로 설정해줘야함 -->
    <form action="/todo/create/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- 사진 및 파일 추가 -->
        <input type="file" name="image">
        <input type="text" name="content" id="content">
        <button type="submit">만들기</button>
    </form>
</body>

</html>